<!DOCTYPE html>
                <html lang="{{ lang }}">
                <head>
                    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-control" content="public">
  <title>{{ title }}</title>
   {% if robots %}
  {# <meta name="Robots" content="{{robots}}"> #}
  {{ robots }}
  {% else %}
  <meta name="Robots" content="INDEX,FOLLOW">
  {% endif %}
  <meta name="theme-color" content="#435471"> 
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  {% if canonical %}
  <link href="{{canonical}}" rel="canonical" />
  {% endif %}
  <meta name="author" content="{{canonical}}" />
  <meta name="Language" content="English" />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@UrbanWoodin">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  {%if ogimage%}
  <meta name="twitter:image" content="{{ogimage}}">
   {%else%}
    <meta name="twitter:image" content="https://www.urbanwood.in/images/common/cover.gif">
{%endif%}
  <meta property="og:site" content="{{base}}"/>
  <meta property="og:url" content="{{canonical}}"/>
  <meta property="og:title" content="{{title}}">
  {%if ogimage%}
  <meta property="og:image" content="{{ogimage}}" />
  {%else%}
  <meta property="og:image" content="https://www.urbanwood.in/images/common/cover.gif" />
   {%endif%}
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ description }}"/>
<meta name="p:domain_verify" content="7434fa1d541565ebeadffc0da1d6461b"/>
{# <link rel="preconnect" href="https://fonts.googleapis.com"> #}
{# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}

  <!-- Google Tag Manager -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">







{# // <script> (function(){ var s = document.createElement("script"); s.async = true; s.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//www.elementwidget.com/get.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(s, a); })(); </script> #}
{# <link
    rel="preload"
    href="https://www.urbanwood.in/catalog/view/javascript/assets/css/main2.css?v=7.7"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/><link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/> #}
                    {# <link rel="stylesheet" type="text/css" href="catalog/view/javascript/assets/css/main2.css?v=7.7" > #}
                    {% if route == 'common/home' %}
                    <link rel="preload" as="image" href="image/catalog/monsoon-offer/mobile-banner.avif"  media="(max-width: 768px)"/>
                    {% endif %}
                    <link rel="preload" type="text/css" href="catalog/view/javascript/assets/css/main2.css?v=1.7" as="style" onload="this.rel='stylesheet'">
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/css/owl.carousel.min.css" media="print" onload="this.media='all'">
                    
                    
                    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/css/owl-carousel.css"  media="print" onload="this.media='all'">
                    <link href="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/css/bootstrap.min.css" rel="stylesheet">
                    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/assets/css/menu.css?v=1.3">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" media="print" onload="this.media='all'"/>
                    {# <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css" media="print" onload="this.media='all'"> #}
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/css/w3animation.css" media="print" onload="this.media='all'">
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/css/jquery-ui.min.css" media="print" onload="this.media='all'">
                    
                    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/assets/css/new-css.css" media="print" onload="this.media='all'">
                    
                    <link rel="stylesheet" href="https://unpkg.com/blaze-slider@latest/dist/blaze.css">
                    {# <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/css/floating-wpp.min.css" media="print" onload="this.media='all'"/> #}
                    <script src="https://cdn.jsdelivr.net/gh/deepeshyadavrd/assets@main/js/jquery1.1.1.min.js" ></script>
<script type="text/javascript" src="catalog/view/javascript/assets/js/3.2.1-jquery.min.js" async></script>
{# <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> #}
                    {# // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> #}
                    {# // <script type="text/javascript" src="catalog/view/javascript/assets/js/main.js?v=1.3"></script> #}
                    <!-- mobile view contact-->      
<style>
  .textsliderhead{
    height: 25px !important;
  }
  .textsliderhead >p{
    color: #fff;
  }
#topslider-marquee {
    background: #9c0000;
    text-align: center;
    color: #fff;
    animation: slide-animation 20s infinite;
    padding: 5px 0px;
    line-height: 2;
}
#topslider-marquee p{
  margin:auto !important ;   
  font-size: 16px; 
}
#topslider-marquee ul{
	-webkit-animation: slide-animation 20s infinite;
  animation:slide-animation 20s infinite; 
  list-style: none outside none;      
}
#topslider-marquee:hover{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
/* .desk-menu{
    position:relative;
} */
 /* .sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* background: rgba(0,0,0,0.8); *
    
}
.sticky .nav-link {
color: white!important;
} */
    </style>
    
                </head>
                <body>
                <!-- Google Tag Manager (noscript) -->
{# <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTH6LBM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> #}
<!-- End Google Tag Manager (noscript) -->
    <nav id="navbarbottom" >
        <ul class="list">
            <li>
                <a href="tel:+ 91 9599283125" class="text">
                <i class='bx bx-phone-call bx-flashing' ></i>+91 9599283126 </a>
            </li>
            <li>
                <a type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilesidemenu" aria-controls="mobilesidemenu" class="__web-inspector-hide-shortcut__ text">
                <i class='bx bx-category-alt'></i>Categories</a>
            </li>
        </ul>
    </nav> 
                    
<!-- mobile menu end account-->
    {# <div id="topslider-marquee" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item textsliderhead active">
       <p>“<b>End of Summer sale is live</b>“ : 60% + 5% extra off on hundrends of products</p>
      </div>
      <div class="carousel-item textsliderhead">
        <p> “<b>No Cost EMI Offers</b> - Available With All Leading Banks“</p>
      </div>
      <div class="carousel-item textsliderhead"> 
        <p>“Free Shipping on All Products Across India“</p> 
      </div>
    </div>
  </div>
    <div class="top-head d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <ul class="tophead-link">
                        <li>
                            <span>
                                <i class='bx bx-mail-send bx-flashing'></i>
                            </span>
                            <a href="mailto:support@urbanwood.in">Support@urbanwood.in</a>
                        </li>
                        <li>
                            <span>
                                <i class='bx bx-phone-call bx-flashing'></i>
                            </span>
                            <a href="tel:+ 91 9599283126"><span>Sales</span>+91 9599283126&nbsp;</a>
                        </li>
                        <li>
                            <span>
                                <i class='bx bx-phone-call bx-flashing'></i>
                            </span>
                            <a href="tel:+ 91 9599283125">
                                <span>
                                    Service (10am-8pm)
                                </span>
                                + 91 9599283125
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="tophead-link float-right-side">
                        <li class="track-order" style="background:none; border:1px solid #fc7e00; "><a href="bulk-order" style="color:#fc7e00;">Bulk Order</a></li>
                        <li class="track-order">
                            <span class="root-t">
                                <i class='bx bxs-truck bx-fade-right text-white'></i>
                            </span>
                            <a href="{{ trackorder }}" class="text-white">Track Order
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
            
    <div class="headbar pt-lg-3 ">
        <div class="container">
            <div class="row d-lg-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-block">
                    <a href="https://urbanwood.in/" data-bs-toggle="tooltip" data-bs-placement="top" title="UrbanWood Furniture"><img src="catalog/view/javascript/assets/image/logo-monsoon.gif" alt="Urbanwood Furniture logo" width="35%" class="img-responsive img-fluid"></a>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <form class="d-flex search-form" action="search">
                        <input class="form-control me-2"  name="search" type="text" id="searchinput" placeholder="Search for products, categories and more..." aria-label="Search" required>
                        <button class="search-btn" type="submit">
                            <i class='bx bx-search'></i>
                        </button>
                    </form>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <ul class="tophead-link-2 float-right-side">
                        <li>
                            <div class="dropdown-pp">
                                <button class="dropbtn-profile">
                                    <i class='bx bx-user'></i>
                                </button>
                                <div class="dropdown-content-pp">
                                    {% if logged %}
                                    <a href="javascript:toProfilepage()">My Profile</a>
                                    <a href="javascript:toOrderpage()">My Order</a>
                                    <a href="wishlist">My Wishlists</a>
                                    <div class=" sign-up-btn">
                                        <a href={{ logout }} type="button" class="text-white">Logout</a>
                                    </div>
                                    {% else %}
                                    <a href="javascript:;" type="button" onclick="signinmodal()">
                                        Log In
                                        <span class="d-block" style="font-size:13px "><small>( If already have account)</small></span>
                                    </a>
                                    <div class=" sign-up-btn">
                                        <a href="javascript:;" type="button" class="text-white" onclick="signupmodal()">
                                            Sign Up
                                            <span class="text-white d-block" style="font-size:13px "><small>( If you are not Register)</small></span>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        <li id="wishli">
                            {% if logged %}
                            <a href="wishlist" class="btn border-none p-0 m-0"> <i class='bx bx-heart'></i></a>
                            <span class="badge_pp text-white">{{ wishlist_items }}</span>
                            <span class="visually-hidden">unread messages</span>
                            {% else %}
                                <a href="login" class="btn border-none p-0 m-0"> <i class='bx bx-heart'></i></a>
                            {% endif %}
                        </li>
                        <li id="cartli">
                            <a href="?route=checkout/cart" class="btn border-none p-0 m-0" id="cartlist" ><i class='bx bx-cart-alt'></i></a>
                            {# <button class="btn border-none p-0 m-0" id="cartlist" onclick="openCart2(this);" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight2"><i class='bx bx-cart-alt'></i></button> #
                            {% if cart_items %}
                              <span class="badge_pp text-white">{{ cart_items }}</span>
                              <span class="visually-hidden">unread messages</span>
                            {% else %}
                              <span class="badge_pp text-white"> 0</span>
                              <span class="visually-hidden">unread messages</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div> #}


<!-- request call back -->
<div class="sidecall">
        <button type="button" class=" requestcall" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Request Call
            <span><i class='bx bx-phone-call bx-tada'></i></span>
        </button>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="modal-header text-center d-block">
                <h5 class="modal-title" id="exampleModalLabel">Request a Callback</h5>
                <p class="text-center">We will contact you as soon as we have received your information.</p>
            </div>
            <div class="modal-body">
                <form id="myform">
                        <input type="hidden" name="source" class="form-control" id="source-sorm" value="request callback form">
                    <div class="mb-3">
                        <label for="user-name" class="col-form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="user-name">
                    </div>
                    <div class="mb-3">
                        <label for="email-address" class="col-form-label">Email Adderess</label>
                        <input type="text" name="email" class="form-control" id="email-address">
                    </div>
                    <div class="mb-3">
                        <label for="con-num" class="col-form-label">Contact No.</label>
                        <input type="text" name="mobile" class="form-control" id="con-num">
                    </div>
                    <div class="mb-3">
                      <label for="state" class="col-form-label">State</label>
                        <select name="state" id="state" name="state" class="form-control" required>
			                <option value="">Select state</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
			        </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" name="message" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="subbtn" onclick="submitCallRequest('myform','subbtn')" class="send-btn">Send message</button>
            </div>
        </div>
    </div>
    <style>
/* .owl-carousel {
    position: relative;
}
.owl-nav{
    bottom:150px;
}
.owl-next, .owl-prev {
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}
.owl-next {
    right: 0;
    display: flex;
}
.owl-prev{
    left: 0;
    display: flex;
}
@media only screen and (max-width: 600px) {
    .owl-nav{
        bottom:100px;
    }
}
@media only screen and (min-width: 600px) {
    .owl-nav{
        bottom:120px;
    }
} */
</style>
    <script>
     function submitCallRequest(idd,btn){

        const formData = $("#" +idd).serializeArray();
            let hasInvalidInput = false;
            // Check for specific invalid values
            // alert(formData);
            formData.forEach(field => {
                if (field.value.toLowerCase().includes('test') || field.value.toLowerCase().includes('example')) {
                    $('body').prepend(`<div class="success-popup2"> <span class="warrning-svg"> <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none">  <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>     </svg>  </span> <span class="warrning-text">  <p>Invalid input detected in ${field.name}</p> </span> </div>`);
                    // alert(`Invalid input detected in ${field.name}. Please remove 'spam'.`);
                    hasInvalidInput = true;
                }
            });
            // If no invalid input, submit the form
            if (!hasInvalidInput) {
                $.ajax({
                    type: 'POST',
                    url: '?route=information/requestcallback',
                    data: $('#'+idd).serialize(),
                    success: function(response) {
                        var thanksHtml = '<div class="ThankuMsgx" style="text-align:center;">\n\
                        <img src="catalog/view/javascript/assets/image/check-sml.gif" style="width: 136px;" loading="lazy"><br>\n\
                        <h2 style="color: gray;">Success!</h2><br>\n\
                        <p>Our team will contact you shortly.</p><br>';
                        $('#'+idd).html('');
                        $('#'+idd).html(thanksHtml);
                        $('#'+btn).remove();
                    },
                    error: function() {
                        alert('An error occurred while submitting the form.');
                        $('body').prepend('<div class="success-popup2"> <span class="warrning-svg"> <svg id="smile2" width="35" height="35" viewBox="0 0 27 27" fill="none">  <path d="M13.6154 0.84668C6.57223 0.84668 0.846741 6.60249 0.846741 13.6733C0.846741 20.7464 6.60033 26.5 13.6734 26.5C20.7464 26.5 26.5 20.7464 26.5 13.6733C26.5 6.59806 20.7183 0.84668 13.6154 0.84668ZM14.406 19.3366H12.9407V17.8713H14.406V19.3366ZM14.406 14.406H12.9407V8.01H14.406V14.406Z" stroke="#FFD1D1"/>     </svg>  </span> <span class="warrning-text">  <p>'+ res.error +'</p> </span> </div>');
                    }
                });
            }
//     if(!formRule(idd)) return false;
//     $('#'+btn).text('Processing...');
//     $.ajax({
//       url:'?route=information/requestcallback',
//       data:$('#'+idd).serialize(),
//       type:'POST',
//     // dataType:'JSON',
//     success:function(res){      
//       console.log(res);
//         var thanksHtml = '<div class="ThankuMsgx" style="text-align:center;">\n\
//         <img src="catalog/view/javascript/assets/image/check-sml.gif" style="width: 136px;" loading="lazy"><br>\n\
//         <h2 style="color: gray;">Success!</h2><br>\n\
//         <p>Our team will contact you shortly.</p><br>';
//         $('#'+idd).html('');
//         $('#'+idd).html(thanksHtml);
//         $('#'+btn).remove();
      
//     }
//   });
  }

    function withJquery(){
  console.time('time1');
	var temp = $("<input>");
  $("body").append(temp);
 temp.val($('#couponcode').text()).select();
  document.execCommand("copy");
  temp.remove();
    console.timeEnd('time1');
}





  </script>