<html dir="ltr" lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Custom Pay Urbanwood</title>
  <base href="https://www.urbanwood.in/">
  <link rel="icon" href="images/icon.svg" type="image/icon type">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/cart.css">
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&amp;display=swap" rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"><style type="text/css">
    .leftCart {
      width: 100%!important;
      padding-left: 25px;
      padding-right: 25px;
    }
    .success{
      color: #2ba82b;
      font-size: 14px;
    }
    .label{
      background: #c8c0c0;

      padding: 7px;

      margin-bottom: 10px;
    }
    .form-mobile-submit{
      padding: 4px;
      background-color: #f7aa10;
      width: 100%;
      text-align: center;
      color: white;
      margin-top: 12px;
    }
    html {
      scroll-behavior: smooth;
    }
    input[type=email] {
      background: #fff;
    }
    #overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
    .text-st{
      font-family: 'Quicksand', sans-serif;
    }
    .text-danger{
      color: #d22e2e;font-family: 'Quicksand', sans-serif;font-size: 13px;
    }
    .alert-danger{color: #d22e2e;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
    }
    .btn {
      background: #ff9f00;
      background-image: none;
      background-size: auto;
      width: 200px;
      padding: 10px 0;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: 0.5s;
      background-size: 200% auto;
      font-size: 15px;
      outline:none; 
      border: none;
      border-radius: 15px;
      cursor: pointer;
    }
    .btn-save {
    background: #377139;
        background-image: none;
        background-size: auto;
    background-image: none;
    background-size: auto;
    width: 207px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 410px;
}
    .AddressFlex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0px 9px 0;
      width: 780px;
      max-width: 776px;
    }
    .address_bar_payment,.address_bar_shipping{
      padding: 13px;
      border: 2px solid gray;
      margin: 8px;
    }
    .smallbtn{

      background: #356837;
      background-image: none;
      background-size: auto;
      background-image: none;
      background-size: auto;
      width: 165px;
      padding: 4px 0;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      background-size: 200% auto;
      font-size: 15px;
      outline: none;
      border: none;
      border-radius: 15px;
      cursor: pointer;
    }
    .hide{ display: none; }
    .pull-right{
      float:left;
    }
  </style></head>






  <body class="gray">
   <div id="overlay"><img style="padding: 249px 604px;" src="https://www.urbanwood.in/images/loader-new.svg"></div> 
   <header class="cartHeader">
    <div class="container">
      <a href="#" class="site-logo"><img style="width: 220px" src="images/common/logo.svg"></a>
      <ul class="cartMeter">

       <li class="">
         <svg xmlns="http://www.w3.org/2000/svg" width="26.366" height="26.375" viewBox="0 0 26.366 26.375"><g transform="translate(-1128 -46.078)"><g transform="translate(1127.499 46.078)"><path d="M219.6,331.073a.515.515,0,1,0-.729,0A.516.516,0,0,0,219.6,331.073Zm0,0" transform="translate(-206.982 -313.185)" fill="#ff6d07"></path><path d="M188.449,5.665A5.665,5.665,0,1,0,194.114,0,5.671,5.671,0,0,0,188.449,5.665Zm10.3,0a4.635,4.635,0,1,1-4.635-4.635A4.64,4.64,0,0,1,198.749,5.665Zm0,0" transform="translate(-178.266)"></path><path d="M6.433,227.6a.515.515,0,0,0,.727,0l2.5-2.46a1.556,1.556,0,0,0,.367-1.6l.537-.518a1.536,1.536,0,0,1,1.072-.433h6.846a4.611,4.611,0,0,0,3.233-1.313c.036-.035-.272.328,4.671-5.579a2.06,2.06,0,0,0-3.135-2.674l-3.039,3.123a2.07,2.07,0,0,0-1.6-.767H12.865a6.644,6.644,0,0,0-2.579-.515,6.371,6.371,0,0,0-5.807,3.293,1.538,1.538,0,0,0-1.377.427l-2.45,2.457a.515.515,0,0,0,0,.726Zm3.853-11.7a5.622,5.622,0,0,1,2.267.472.514.514,0,0,0,.206.043h5.848a1.03,1.03,0,1,1,0,2.06h-4.2a.515.515,0,1,0,0,1.03h4.2a2.057,2.057,0,0,0,2.042-2.329c2.94-3.022,3.354-3.446,3.372-3.467a1.03,1.03,0,1,1,1.573,1.331l-4.619,5.522a3.586,3.586,0,0,1-2.5,1H11.633a2.56,2.56,0,0,0-1.788.722l-.438.422-4.034-4.034a5.317,5.317,0,0,1,4.913-2.775ZM3.83,219.322a.514.514,0,0,1,.638-.072c.089.054-.167-.179,4.46,4.442a.516.516,0,0,1,0,.726l-2.129,2.1-5.06-5.1Zm0,0" transform="translate(0 -201.382)"></path><path d="M266.85,40.5v.6a1.545,1.545,0,0,0,.515,3,.515.515,0,0,1,0,1.03.931.931,0,0,1-.669-.39.515.515,0,0,0-.788.663,2.136,2.136,0,0,0,.942.671v.6a.515.515,0,1,0,1.03,0v-.6a1.545,1.545,0,0,0-.515-3,.515.515,0,0,1,0-1.03.827.827,0,0,1,.557.269.515.515,0,0,0,.716-.74,1.989,1.989,0,0,0-.758-.474v-.6a.515.515,0,1,0-1.03,0Zm0,0" transform="translate(-251.62 -37.928)" fill="#ff6d07"></path></g></g></svg>
         <span>Custom Pay Urbanwood </span>
       </li>
     </ul>
     <div class="Register" style="visibility: hidden;">WELCOME <strong>VISHNU!</strong></div>  
   </div>
 </header>


 <div class="container FlexCart">
  <div class="leftCart">
    <section class="Incart">
     <form name="frmPayment" action="ccavRequestHandler.php" method="POST">
      <input type="hidden" name="merchant_id" value="2513621">
      {% if order_id %}
      <input type="hidden" name="order_id" value="{{order_id}}"> 
      {% endif %}
      <input type="hidden" name="language" value="EN"> 

      <input type="hidden" name="currency" value="INR"> 
      <input type="hidden" name="redirect_url" value="{{surl}}"> 
      <input type="hidden" name="cancel_url" value="{{curl}}">
      <div class="title">SECURE CHECKOUT ~ </div>


      <ul class="AddressBilling">
        <li>
         <span>Name <label for="input-payment-firstname">* </label></span>
         <input type="text" name="billing_name" value="{{name}}" class="form-field" Placeholder="Customer Name"> 
       </li>
       <li>
         <span>Address <label for="input-payment-lastname">* </label></span>
         <input type="text" name="billing_address" value="{{address}}" class="form-field" Placeholder="Billing Address">
       </li>
       <li>
         <span>State <label for="input-payment-firstname">* </label></span>
         <input type="text" name="billing_state" value="{{state}}" class="form-field" Placeholder="State"> 
       </li>
       <li>
         <span>Pincode <label for="input-payment-lastname">* </label></span>
         <input type="text" name="billing_zip" value="{{pincode}}" class="form-field" Placeholder="Zipcode">
       </li>
       <li>
        <span>Country <label for="input-payment-lastname">* </label></span>
        <input type="text" name="billing_country" value="{{country}}" class="form-field" Placeholder="Country">
      </li>
      {% if order_id %}
      <!-- <li>
       <span>Email<label for="input-payment-lastname">* </label></span> -->
       <input type="hidden" name="billing_email" value="{{email}}" class="form-field" Placeholder="Email">
     <!-- </li> -->
     {% else %}
      <li>
       <span>Email<label for="input-payment-lastname">* </label></span>
       <input type="email" name="billing_email" value="{{email}}" class="form-field" Placeholder="Email">
     </li>
     {% endif %}

     <li>
       <span>Mobile<label for="input-payment-lastname">* </label></span>
       <input type="text" name="mobile" value="{{telephone}}" placeholder="enter mobile" required class="form-field">
     </li>
     {% if not order_id %}
     <li>
       <span>Order ID (use phone number)<label for="input-payment-lastname">* </label></span>
       <input type="text" name="order_id" placeholder="enter phone number" required class="form-field">
     </li>
     {% endif %}
     <li>
       <span>Amount<label for="input-payment-lastname">* </label></span>
       <input type="text" name="amount" value="" placeholder="enter amount" required class="form-field">
     </li>
   </ul>
   <div class="buttons clearfix">
    <div class="pull-right">
      <input type="submit" value="PAY NOW"  class="btn-save" />
    </div>
  </div>
</form>

</section>
</div>

</div>
