{{ header }}
{{ menu }}
<div class="wrapper">
<div class="qu-sec py-2 ">
    <div class="container container-custom">
      <div class="row">
  <div class="col-md-12 col-sm-12">
    <nav class="breadcumb-navigation">
      <ol class="breadcrumb m-0 ">
        <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Postal Address</li>
      </ol>
    </nav>   
  </div>
  </div>
      </div>
  </div>
<section class="py-2">
    <div class="container container-custom">
        <div class="row">
            <div class="outer-help-center">
              <div class="outer-xx d-sm-flex d-block justify-content-between  my-2 py-2">
                <div class="contact-us-heading"> <h1>Postal Address</h1> <p>We are here to help you</p></div>
                <div class="order-sec">
                    <div> 
                    <i class="fas fa-shopping-bag"></i> &nbsp; TRACK, RE-ORDER <br> 
                    <span> Manage your purchases</span>
                </div>
                <div><a href="javascript:toOrderpage()" class="mang-order-btn">ORDERS</a></div>
            </div>
          </div>
           <div class="row">
            <div class="col-lg-3"> 
<div class="sidebar-helpcenter">
    <ul>
      {# <li><a href="  order-complaint.html" class="help-list"><i class="fas fa-comment-alt"></i> Order Feedback</a> </li> #}
      <li ><a href="faq" class="help-list"> <i class="fas fa-question-circle"></i> FAQ </a> </li>
      <li><a href="terms" class="help-list"> <i class="fas fa-clipboard-list"></i> Terms of Uses </a> </li>
      <li><a href="security-and-privacy" class="help-list"> <i class="fas fa-clipboard-list"></i> Security & Privacy </a> </li>
      <li><a href="return-and-refunds" class="help-list"> <i class="fas fa-clipboard-list"></i> Return & Refunds </a> </li>
      <li><a href="delivery-and-shipping-policy" class="help-list"> <i class="fas fa-clipboard-list"></i> Delivery & Shipping Policy </a> </li>
      <li><a href="?route=information/contact" class="help-list"> <i class="far fa-paper-plane"></i> Contact Us </a> </li>
      <li class="active-sidebar"><a href="postal-address" class="help-list"> <i class="fas fa-map-marker-alt"></i> Postal Address</a> </li>
        
    </ul>
</div>    
</div>
<div class="col-lg-9"> 
  <div class="contact-customer-form">
    <h6>We are Here for your Problems!</h6>
    {% if locations %}
        {% for location in locations %}
            <div class="conts-box">
                <div class="bb-namer-heading"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;&nbsp;{{ location.name }}</div>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{ location.address }}</p>
                <div><a  class="btn btn-primary"  href="{{ location.name|lower|replace({' ': '-'}) }}">Know More</a></div>
            </div>
        {% endfor %}
    {% endif %}
    
  </div>

    </div>
  </div>
  </div>
</div>
</div>
</section>
</div>
{{ footer }}