{{ header }}

{{ menu }}
<div class="qu-sec py-2 ">
  <div class="container container-custom">
    <div class="row">
<div class="col-md-12 col-sm-12">
  <nav class="breadcumb-navigation">
    <ol class="breadcrumb m-0">
      {# <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> #}
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>   
</div>
</div>
    </div>
</div>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
<section class="login-reg-sec">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 width-30">
      <div class="login-side">
        <img src="catalog/view/javascript/assets/image/popupimg/slider1.webp" class="img-responsive">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 width-70">
      <div class="signin-form-popup signupform1 selected">
      <div class="from-header">
        <h6> Start journey with us <br> <span> Create an Account </span> </h6>
      </div>
      <div class="popup-signform">
        <form method="post"  action="register">
          <div class="row" >
            <div class="col-md-6 col-lg-6 ">
              <input type="name" name="firstname" class="form-control mt-0 mb-2" id="exampleInputFirstname" placeholder="First Name" required="" autocomplete="given-name">
            </div>
            <div class="col-md-6 col-lg-6 ">
              <input type="text" name="lastname" class="form-control mt-0 mb-2" id="exampleInputlastname" placeholder="Last Name" required="" autocomplete="family-name">
            </div> 
            <div class="col-md-12 ">
              <input type="email" name="email" class="form-control mt-0 mb-2" id="giveInputEmail1" placeholder="Email Address" required="" autocomplete="email">
            </div>
            <div class="col-md-12 ">
              <input type="text" name="telephone" class="form-control mt-0 mb-2" id="giveInputnumber" placeholder="Contact Number" required="" autocomplete="tel">
            </div>
            <div class="col-md-12">
              <input type="password" name="password" class="form-control password mt-0 mb-2" required="" id="id_password" placeholder="Password" autocomplete="new-password">
              <i class="far fa-eye" id="togglePassword"></i>
            </div>
            <div class="col-md-12">
              <input type="password" name="confirm" class="form-control password mt-0 mb-3" required="" id="id_password_c" placeholder="Confirm password" autocomplete="new-password">
              <i class="far fa-eye" id="togglePassword"></i>
            </div>
            <div class="d-block">
              <button type="submit" class="login-btn-popup">Sign up</button>
              {# <div class="d-flex justify-content-center align-items-center my-1">
                <span class="line"></span><p class="or-way-tolog">OR Sign with</p> <span class="line"></span>
              </div>
              <div class="d-flex justify-content-center align-items-center my-1">
                <img src="./assets/image/icon/g-icon.png" alt="" width="30" class="mx-1">
                <img src="./assets/image/icon/f-icon.png" alt="" width="30" class="mx-1">
              </div> #}
              <p class="text-center dont-accont mb-0">Already Have an Account ? <a href="login">Sign in Now</a></p>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
  </div>
</section>
{{ footer }}