{{ header }}
{{ menu }}
{# {% if reviews %}
{% for review in reviews %}
<table class="table table-striped table-bordered">
  <tr>
    <td style="width: 50%;"><strong>{{ review.author }}</strong></td>
    <td class="text-right">{{ review.date_added }}</td>
  </tr>
  <tr>
    <td colspan="2"><p>{{ review.text }}</p>
      {% for i in 1..5 %}
      {% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
      {% endfor %}</td>
  </tr>
</table>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %}  #}

<div class="wrapper">
    <div class="breadcrumb-sec all-review-banner">
      <div class="container container-custom">
        <div class="breadcrumb-content breadcrumb-content d-sm-block d-none">
          <h1>Our Customers</h1>
          <p class="text-lg-start"> To add a touch of elegance to your home at a reasonable price, get furniture online from our wide selection of wooden furniture units. To suit your home interiors. </p>
    <p class="text-lg-start" style="color:#fd8500"> <strong>You can also purchase specifically customized for your needs. </strong></p>
          
      <ul class=" m-0 p-2 d-flex align-items-center">
        <li class=""><i class="fas fa-star"></i></li>
        <li class=""><i class="fas fa-star"></i></li>
        <li class=""><i class="fas fa-star"></i></li>
        <li class=""><i class="fas fa-star"></i></li>
        <li class=""><i class="fas fa-star"></i></li>

        </ul>
    
        </div>
    
      </div>
    </div>
<!-- <div class="qu-sec py-2 ">
    <div class="container container-custom">
      <div class="row">
  <div class="col-md-12 col-sm-12">
    <nav class="breadcumb-navigation">
      <ol class="breadcrumb m-0 p-2">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Our All Customers Reviews</li>
      </ol>
    </nav>   
  </div>
  </div>
      </div>
  </div> -->
  <div class="py-2 ">
    <div class="container container-custom">
      <div class="row">
      
  <div class="col-lg-8 col-md-8 col-sm-12 m-auto">
    <div class="d-flex justify-content-center secect-filter-review">
    
      <div class="seclect-box-filter">
      <label for="product-review-categories">Categories</label>
    <select class="form-select" id="categoryselect" name="category" onchange="sorting(this.value, 'category');" aria-label="product-review-categories">
    <option value="">Select Categories</option>
      {% for category in categories %}
        <option value="{{ category.category_id }}">{{ category.category_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="seclect-box-filter">
    <label for="product-review-city">City</label>
    <select class="form-select" id="cityselect" name="city" onchange="sorting(this.value, 'city');" aria-label="product-review-city">
      <option value=>Select Cities</option>
      {% for cities in city_list %}
      <option value="{{ cities.city }}">{{ cities.city }}</option>
      {% endfor %}
    </select>
    </div>
    <div class="seclect-box-filter">
<label for="Short-filter-review"> Short by</label>
    <select class="form-select " id="dateselect" name="date" onchange="sorting(this.value, 'date');" aria-label="Short-filter-review">
      <option value="">Most Recent</option>
      <option value="30days">Last 30 days</option>
      <option value="3months">Last 3 months</option>
      {% for years in year_list %}
      <option value="{{ years.year }}">{{ years.year }}</option>
      {% endfor %}
    </select>
  </div>
  
  </div>
    </div>
    
    </div>
    </div>
    </div>
<section class="py-2">
    <div class="container container-custom">
        <div class="row" id="reviews">
        {% for review in reviews %}
        <div class="col-lg-3 col-md-3 col-sm-12 allreview" data-category="{{ review.category }}">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="{{ review.image }}" class="img-responsive img-fluid " alt="{{ review.author }}">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> {{ review.author }} <span>( &nbsp;{{ review.city }} ) </span> </p></div>
         <div class="client-comment">
       <p>{{ review.text }}</p>
       <div class="rating">
       {% for i in 1..review.rating %}
          {# {% if review.rating < i %} 
            <span><i class='bx bx-star rst'></i></span>
          {% else %} 
            <span><i class='bx bxs-star rst'></i><i class='bx bx-star rst'></i></span>
          {% endif %} #}
          <span><i class='bx bxs-star rst'></i></span>
      {% endfor %}
         {# <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span> #}
       </div>
      
          </div>
       </div>
       
           </div>
          </div>
        {% endfor %}
        <div class="Page navigation example">{{ pagination }}</div>
          {# <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="assets/image/review-img/client-1-img.png" class="img-responsive img-fluid ">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> Sneha tn <span>( Bangalore ) </span> </p></div>
         <div class="client-comment">
       <p>Needed custom coffee table to match my pouffes . They did an excellent job in designing to my requirements and delivering on time , with very good quality finish and packaging</p>
       <div class="rating">
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
       </div>
      
          </div>
       </div>
       
           </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="assets/image/review-img/client-1-img.png" class="img-responsive img-fluid ">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> Sneha tn <span>( Bangalore ) </span> </p></div>
         <div class="client-comment">
       <p>Needed custom coffee table to match my pouffes . They did an excellent job in designing to my requirements and delivering on time , with very good quality finish and packaging </p>
       <div class="rating">
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
       </div>
      
          </div>
       </div>
       
           </div>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="assets/image/review-img/client-1-img.png" class="img-responsive img-fluid ">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> Sneha tn <span>( Bangalore ) </span> </p></div>
         <div class="client-comment">
       <p>Needed custom coffee table to match my pouffes . They did an excellent job in designing to my requirements and delivering on time , with very good quality finish and packaging</p>
       <div class="rating">
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
       </div>
      
          </div>
       </div>
       
           </div>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="assets/image/review-img/client-1-img.png" class="img-responsive img-fluid ">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> Sneha tn <span>( Bangalore ) </span> </p></div>
         <div class="client-comment">
       <p>Needed custom coffee table to match my pouffes . They did an excellent job in designing to my requirements and delivering on time , with very good quality finish and packaging</p>
       <div class="rating">
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
       </div>
      
          </div>
       </div>
       
           </div>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="assets/image/review-img/client-1-img.png" class="img-responsive img-fluid ">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> Sneha tn <span>( Bangalore ) </span> </p></div>
         <div class="client-comment">
       <p>Needed custom coffee table to match my pouffes . They did an excellent job in designing to my requirements and delivering on time , with very good quality finish and packaging</p>
       <div class="rating">
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
       </div>
      
          </div>
       </div>
       
           </div>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="slide client-box client-box2"> 
      
              <div class="client-img">
                <img src="assets/image/review-img/client-1-img.png" class="img-responsive img-fluid ">
              </div>
       <div class="client-content">
         <div class="client-name"> <p> Sneha tn <span>( Bangalore ) </span> </p></div>
         <div class="client-comment">
       <p>Needed custom coffee table to match my pouffes . They did an excellent job in designing to my requirements and delivering on time , with very good quality finish and packaging</p>
       <div class="rating">
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
         <span><i class='bx bxs-star'></i></span>
       </div>
      
          </div>
       </div>
       
           </div>
          </div> #}

</div>
</div>
</section>
<div>
{{ footer }}