
{% if categories %}
 {% for category in categories %}
<div class="{{category.liclass}} pp-box-cat">
  <div class="img-pp-cat"> <img src="{{category.image}}" alt="{{category.name}}"></div>
  <div class="con-pp-cat"> 
    <span>{{category.name}}</span>
  </div>
  <div> <a href="{{category.href}}" class="check-out-pp" disabled>check now</a></div>
</div>
{%endfor%} 
{%endif%}