

{{ header }}
{{ menu }}
{{ wishlist }}
<link  rel="stylesheet"  href="catalog/view/javascript/assets/css/category.css" > 
<style>
  .red{
    color: red!important;
  }
</style>
</div>
<div class="wrapper">
  <!--- banner section-->
  <div class="qu-sec py-2 ">
    <div class="container container-custom">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav class="breadcumb-navigation" >
            <ol class="breadcrumb m-0 p-2">

              {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item "> <a href="#">{{ breadcrumb.text }}</a></li>
              {% endfor %}

            </ol>
          </nav>   
        </div>
      </div>
    </div>
  </div>

  <section class=" py-2">
    <div class="container container-custom">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <h2 class="pg-heading text-center">{{ heading_title }}</h2>
          <div id="divAnim">
            <p class="heading-para text-center px-lg-5">{{ description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container container-custom">
      <div class="row">
        <div class="d-flex justify-content-md-center  m-md-auto  categories-pp" id="custom_filter_div">
         
          

        </div>
      </div>
    </div>
  </section>    

  <section class="py-2">
    <div class="container container-custom">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 d-md-none d-block">
          <div class="fillter-mob-sec">
            <div class="d-flex justify-content-between align-items-center"> 
              <h6>Sort/Filter</h6>
              <button class="btn filter-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtercanvas" aria-controls="offcanvasRight"> <i class="fas fa-sort-amount-up-alt"></i></button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="filtercanvas" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Sort/Filter</h5>
                <button type="button" class=" text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="background: none; border: none; "> <i class="fas fa-arrow-left"></i></button>
              </div>
              <div class="offcanvas-body">
                <div class="filter-box">
                  <div class="short-by-sec">
                    <div class="accordion" id="accordionPanelsStayOpen1">
                      <div class="accordion-item accordion-item-filter">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Sort by
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                          <div class="accordion-body">
                           <ul>
                            <li>
                              <div class="form-check filter-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked1" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Recommended</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Latest</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Fast Shipping</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Price (Low to High)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Price (High to Low)</label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item accordion-item-filter">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Primary Material
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          <ul>
                            <li>
                              <div class="form-check filter-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecke2" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Sheesham Wood</label>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="filter-sec-heading"> Filter</div>
                  <div class="accordion" id="accordionPanelsStayOpen2">
                    <div class="accordion-item accordion-item-filter">
                      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          Price range
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                          <ul>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked3" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Under ₹ 19,999 (12)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault5">
                                <label class="form-check-label" for="flexSwitchCheckDefault">₹ 20,000 - ₹ 29,999 (22)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaut6">
                                <label class="form-check-label" for="flexSwitchCheckDefault">₹ 30,000 - ₹ 39,999 (36)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault7">
                                <label class="form-check-label" for="flexSwitchCheckDefault">₹ 40,000 - ₹ 49,999 (90)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault8">
                                <label class="form-check-label" for="flexSwitchCheckDefault">₹ 50,000 - ₹ 59,999 (44)</label>
                              </div>
                            </li>
                          </ul> 
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item accordion-item-filter">
                      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          Size
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                          <ul>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked4" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">King Size (151)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault9">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Queen Size (132)</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault10">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Single Size (75)</label>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item accordion-item-filter">
                      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          Finish Type
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                          <ul>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked5" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Honey Finish</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault11">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Teak Finish</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault12">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Walnut Finish</label>
                              </div>
                            </li>
                          </ul> 
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item accordion-item-filter">
                      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          Storage
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                          <ul>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked6" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">With Storage</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault13">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Without Storage</label>
                              </div>
                            </li>

                          </ul> 
                        </div>
                      </div>
                    </div>


                    <div class="accordion-item accordion-item-filter">
                      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                          Storage Type
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                          <ul>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked7" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Drawer Storage</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault14">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Box Storage</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check filter-switch2">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault15">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Hydraulic Storage1</label>
                              </div>
                            </li>

                          </ul> 
                        </div>
                      </div>
                    </div>
                  </div>





                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 position-relative">
        <div class="filter-box d-md-block d-none">
          <div class="short-by-sec">
            <div class="accordion" id="accordionPanelsStayOpen1">
              <div class="accordion-item accordion-item-filter">
                <h2 class="accordion-header" id="panelsStayOpen-headingOneS">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOneS" aria-expanded="true" aria-controls="panelsStayOpen-collapseOneS">
                    Sort by
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOneS" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOneS">
                  <div class="accordion-body">
                   <ul>
                     {% for sorts in sorts %}
                     {% if sorts.value == '%s-%s'|format(sort, order) %}
                     <li>
                      <div class="form-check filter-switch">
                        <input class="form-check-input" value={{ sorts.href }} onchange="stickyheaddsadaer(this)" type="checkbox" id="flexSwitchCheckChecked1" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">{{ sorts.text }}</label>
                      </div>
                    </li>
                    {% else %}
                    <li>
                      <div class="form-check filter-switch">
                        <input class="form-check-input" value={{ sorts.href }} onchange="stickyheaddsadaer(this)" type="checkbox" id="flexSwitchCheckChecked1">
                        <label class="form-check-label" for="flexSwitchCheckChecked">{{ sorts.text }}</label>
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    
                  </ul>
                </div>
              </div>
            </div>



          </div>
          {{ filter }}
          
        </div>
      </div>
    </div>
    
    <div class="col-md-9 col-sm-12">
      <div class="product-img-list">
        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-box-img">
              <div class="button-pd">
                <div class="like-heart mx-2"> 

                  <span ><i class="fas fa-heart" onclick="wishlist.add('{{ product.product_id }}');" id="likeheart" ></i></span> 
                </div>  
                <div class="sharer">
                  <button id="share" class="cursor-pointer ">
                    <i class='bx bxs-share-alt'></i></button> 
                    <div id="share_icons" class="absolute opacity-0"> 
                      <a href="" class="pd-share cursor-pointer">
                        <i class="bx bxl-twitter"></i>
                      </a> 
                      <a href="" class=" pd-share cursor-pointer">
                        <i class="bx bxl-facebook"></i>
                      </a> 
                      <a href="" class=" pd-share cursor-pointer">
                        <i class="bx bxl-linkedin"></i>
                      </a> 
                    </div> 

                  </div> 

                </div>
                {# <a href="{{ product.href }}" type="button" class="shop-nowb-btn" style="margin-top: 19px;"> Shop Now</a> #}

                <div class="pd-img-in">
                 {% if (product.stock_status == 'Out Of Stock') and (product.quantity == 0) %}
                  <h3 class="shop-nowb-btn" style="margin-top: 19px;"> Out Of Stock</h3>
                {% else %}
                  <button class="shop-nowb-btn" onclick="addtocart(1,{{ product.product_id }})"> Add To Cart</button>
                {% endif %}
                  <a href="{{ product.href }}" target="_blank"><div class="overlay-pd"></div></a>
                  {% if (product.stock_status == 'Out Of Stock') %}
                      <img src="{{ product.thumb }}" alt="{{ product.name }}" class="img-fluid out-of-stock" loading="lazy">
                    {% else %}
                      <img src="{{ product.thumb }}" alt="{{ product.name }}" class="img-fluid" loading="lazy">
                    {% endif %}
                </div>
                <div class="pd-deatils-sec">
                  <div class="d-flex justify-content-between align-items-start p-2">
                    <div class="pd-heading"> 
                     <div class="pd-name"><a href="{{ product.href }}">{{ product.name }}</a></div> 
                     <div class="pd-config">{{ product.finish }}</div>
                     <span class="pd-creater"> By&nbsp;{{ product.brand }}</span>
                   </div>
                   <div class="color-feature">
                   {% if (product.stock_status == 'Out Of Stock') and (product.quantity == 0) %}
                      <span class="availibility-pd">Out of Stock</span>
                    {% else %}
                    {% if product.pro_gro is not empty %}
                    <span class="availibility-pd">Available Finish</span>
                    <div class="color-feature-check"> 
                      {% for progro in product.pro_gro %}
                          <div class="zoom" data-toggle="tooltip" data-placement="top" title="{{progro.text }}">
                            <a href="{{ progro.link }}"><img src="catalog/view/javascript/assets/image/icon/{{ progro.text|lower }}.jpg" alt="{{progro.text }}"></a>
            
                          </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endif %}
                  </div>

                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-start p-2">
                  <div class="pricing-pd">
                    <div class=""> 
                      <div class="pd-amount"> {{ product.special }} </div> <div class="cut-ammount">{{ product.price }} </div>  
                      <span class=" badge bridge-offer" style="font-size:10px">{{ product.discount }}% off </span>
                    </div>
                  </div>
                  <div class="pd-offers">
                    <ul>
                      <li class="offer-list"> <i class="fas fa-check"></i> No Cost EMI </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
          {% if  loop.revindex0 == 6 %}
          <div class="signup-banner-strip">
            <div class="d-md-flex d-block justify-content-around align-items-center text-center ">
              <div class="sign-banner-con">
                <h5>Sign Up Now </h5>
                <p>&</p>
                <h6>get extra <span style="color:#fc0000;font-weight: 700;"> DISCOUNT</span></h6>
              </div>
              <div>
                <a href="" type="button" class="view_all_btn" style="margin-top: 19px;"> Sign Up</a>
              </div>
              <div class="banner-strip-img">
                <img src="catalog/view/javascript/assets/image/red-shape-bg.png" alt="" class="img-fluid img-responsive">
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div> 


        
        <div>{{ pagination }}</div>
        <div class="banner-strip-location">
          <div class="sign-banner-con text-lg-start text-cente">
            <h5 class="r text-white">VISIT OUR NEAREST STORE</h5>
            <p class="text-white">&</p>
            <h6 class=" text-white">get extra <span style="color:#fc0000; font-weight: 700;"> DISCOUNT</span></h6>
            <br>
            <a href="" class="shop-find-btn">Find Shop</a>
          </div>

          <div class="image-forloaction">
            <div class="img-location-ceative">
              <img src="catalog/view/javascript/assets/image/location-strip.png" class="img-responsive img-fluid">
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

</section> 

<section class="py-2">
  <div class="container container-custom">
    <div class="row">
      <h2 class="pg-heading text-center">Popular Categories</h2>
      <p class="heading-para text-center">Unlimited Choices. Unbeatable Prices. Free Shipping</p>
      <div class="d-sm-flex d-block justify-content-center categories">
        <div class="item-box3">
          <a href="beds">
            <img src="catalog/view/javascript/assets/image/icon/bed-pp-icon1.png" alt="">
            <h6>Beds</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>
        <div class="item-box3">
          <a href="sofas">
            <img src="catalog/view/javascript/assets/image/icon/sofa-pp-icon1.png" alt="">
            <h6>Sofas</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>

        <div class="item-box3">
          <a href="dining-room-furniture">
            <img src="catalog/view/javascript/assets/image/icon/diningtable-pp-icons1.png" alt="">
            <h6>Dining</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>

        <div class="item-box3">
          <a href="shoe-racks">
            <img src="catalog/view/javascript/assets/image/icon/shoerack-pp-icon1.png" alt="">
            <h6>Shoe Rack</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>

        <div class="item-box3">
          <a href="study-tables">
            <img src="catalog/view/javascript/assets/image/icon/studytable-pp-icon1.png" alt="">
            <h6>Study Table</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>

        <div class="item-box3">
          <a href="bookcase">
            <img src="catalog/view/javascript/assets/image/icon/bookcase-pp-icon1.png" alt="">
            <h6>bookcase</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>

        <div class="item-box3">
          <a href="wardrobes">
            <img src="catalog/view/javascript/assets/image/icon/wardrobe-pp-icon1.png" alt="">
            <h6>Wardrobes</h6> 
            <p>883+ Options Available</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bottom-content py-4"> 
  <div class="container container-custom"> 
    <div class="row">
      <div class="col-lg-12">
       <h5>Buy Wooden Furniture (फर्नीचर) Online in Bangalore For Your Dream Home</h5> 
       <p> mbellishing Your Office Space at Home With Urbanwood. In the event that you have your workspace at your home, the <stong> office furniture </stong> ought to be amazing as well. It very well may be the conventional sort with work area and seat or like modern furniture with rocker, couches and <a href="https://www.urbanwood.in/sofas"> sofas </a>. Further, numerous <stong>modern furniture stores </stong> likewise sell foldable furniture, called <stong> modular furniture </stong>. You can look at them as well at furniture online Bangalore.</p>
       <h5> Search For Home furniture Online Bangalore For Different Looks & Designs</h5>

       <p>The early introduction of your home is a ton relied upon the furniture you have in your home. In the event that your furniture is decrepit and broken, it would debase the magnificence of your home, regardless of how gigantic your house is or how vivid are the paints on the wall. Rather you can look for stylish at Urbanwood. You can either search for a stylish and smart look with furniture like arm chairs and couches or give it a conventional vibe with the texture of wooden sofas and rugs and carpets. Then again, you can likewise try different things with the various plans of <a href="https://www.urbanwood.in/tv-units"> tv units </a> and <a href="https://www.urbanwood.in/dining-tables">dining tables </a> to give it a modern look.</p>
       <h5>India's Best Online Furniture Shop in Bangalore: Check Furniture Ranges at Urbanwood</h5>

       <p>Urbanwood has a wide scope of home furniture <a href="https://www.urbanwood.in/l-shaped-sofas"> l shaped sofas </a>, Dining table, <strong> Cupboards, Dressing table </strong>, <a href="https://www.urbanwood.in/study-room-furniture"> study room furniture </a>, <strong> mattresses and wall paintings </strong>. Our furnitures is a comprehensive inventory of what you would in our stores. You could say that our online furniture store in Bangalore is an unobtrusive impression of the reach that we have in our <a href="https://www.urbanwood.in/online-furniture-store"> online furniture store </a>. Every class ventures into a sub-classification assisting you with picking among the different models and plans accessible. We have multi-purpose wooden furniture and all the most recent styles and plans.</p>

       <p> <a href="https://www.urbanwood.in/bedroom-furniture"> <strong> Bedroom Furniture: </strong></a> A spot to return home and crash following a difficult day. Settle on the most ideal selection of wooden beds to cause you to feel loose and comfortable.</p>
       <p><a href="https://www.urbanwood.in/fabric-sofas"> <strong> Fabric Sofas: </strong></a>A Sofa is the most pursued spot at home, where everybody likes to crash in the wake of a difficult day's worth of effort so it should a comfortable spot to crash. Your sofa set would discuss your style to visitors that you engage and furthermore give solace to those family parties. Idiosyncratic or tasteful what's your decision. Buy sofas online from our wide scope of premium contributions at furniture online Bangalore.
       </p>

       <p><a href="https://www.urbanwood.in/wardrobes"><strong>Wardrobes:</strong> </a>An exceptionally planned wardrobe can possibly raise the style of generally basic bedroom furniture. Urbanwood presents to you a one of a kind assortment of almirahs. A decent wardrobe ought to permit you to store and arrange your own things as per your comfort. At our furniture present to you a collection of wardrobes that are customized for differed capacity needs. Pick a wardrobe that is in a state of harmony with the style of your room just as obliges all the capacity and practical necessities.</p>

       <p><a href="https://www.urbanwood.in/dining-room-furniture"><strong>Dining room furniture:  </strong></a>A dining table is a place of food, fun, and discussions. From showing your cooking abilities to holding over food and recollections, where household work completes, investigate the enormous assortment of wooden dining tables and pick the one that is ideal for your family. Investigate the new scope of dining sets for your dining region and ensure you pick the best arrangement for your family to appreciate an incredible supper consistently. Get an individual dining table and pick your own dining chairs or go for a complete set, we have it both.</p>

       <p><strong> Study and Office:</strong> For our home office and different purposes, a <a href="https://www.urbanwood.in/study-table-online">study table online </a> can be valuable and can help you work gainfully. Study tables have now become an essential need for homes. A decent table makes the errand of perusing and composing significantly more comfortable, so let the inventive brain in you be more profitable.</p>

       <p><a href="https://www.urbanwood.in/D%C3%A9cor"> <strong >Decor: </strong></a>  Gone are the days where individuals favoured a plain wall with paint or only a couple of photograph edges to make it look outwardly great. Today individuals are continually searching for something new and imaginative that can get their walls decorated. With the assistance of <strong> wall hangings, wall paintings, wall arts </strong>, and gorgeously created mirrors, your wall won't ever look plain. You may get the best furniture online Bangalore that will change the appearance of your home, yet in the event that you overlook to decorate your walls, at that point you may lose the equilibrium. You may even paint the walls with a stylish tone, however, without wall decors, your wall will, in any case, continue as before. There's no motivation behind why your utility room or clothing space can't coordinate the polish of the remainder of rooms. Come look at the assortment of utility stylistic layout things just made for your home.</p>
       <p><a href="https://www.urbanwood.in/Coffee-Tables"><strong>Coffee Tables:</strong> </a>  Look over the most recent <strong> wooden centre table for living room  </strong> at the best costs. The coffee table is probably going to be one of the normal furniture tables in any house. It is the point of convergence of your living room, which is encircled by originator sofa sets. No living room is finished without a coffee table that visitors and guests will see when they show up in your living room. It is the thing that gets the attention of everybody first; in this manner, it ought to be picked with the most extreme consideration from the furniture. Discover a totally modern, straightforward and exquisite focal point that will finish the vibe of your living room. Make a mark look in your living room with beautiful Coffee and end tables from Urbanwood. Shop furniture online in Bangalore at Urbanwood or shop in stores across Bangalore. In each home, the coffee table offers a new territory where you can share drinks and games with friends and family and visitors. Investigate coffee and end table sets with mathematical components and a straightforward allure.</p>
       <p>Choose Different Looks Furniture for Each Room</p>
       <p>You can give an alternate search for every one of your rooms in the house. For instance, the furniture utilized in your living room ought to be wonderful, exquisite just as the originator. Regardless of whether it is a sofa set or an originator plan of conventional furniture, it should upgrade the search for your living room. Essentially, your bedroom furniture ought to be comfortable, durable just as strong. It should very much fit inside the accessible space in your room without jumbling or clogging it. The furniture should coordinate the general subject of your house, which could be grave or peculiar.</p>
       <p>Further, for a modern look, you can utilize a modular kitchen that embellishes the house right away. Urbanwood offers a wide scope of furniture plans to assist you with getting the best pick. You can likewise try different things with various materials for each room separately for furniture online Bangalore. For instance, you can utilize <a href="https://www.urbanwood.in/sheesham-wood-furniture"> Sheesham wood furniture </a> for your living room and utilize a wooden bed in the bedroom. At Urbanwood you can likewise investigate outdoor furniture like <a href="https://www.urbanwood.in/hanging-chairs"> hanging chairs, ottomans and pouffes </a>, <a href="https://www.urbanwood.in/bean-bags"> bean bags</a>, etc. to have a private space for yourself.</p>
       <p> Urbanwood furniture in Bangalore</p>

       <p> The best thing about buying furniture online is, you can get the best arrangements for furniture sale, all-round the year. While investigating furniture available to be purchased with Urbanwood, you can get the best furniture online Bangalore for your home at a profoundly limited cost with alluring looks and solidness. With Urbanwood, you can likewise get diverse furniture pieces as an unconditional present with your purchases. While buying furniture, you can utilize various channels to limit your choices. At Urbanwood, you can utilize channels like material, value, shading, markdown, class, and so on to pick the furniture that best suits your need and taste. While it would make your shopping simpler, it would likewise help you save time and endeavours.</p>

       <p>The Leading Online Furniture Store Serving All Over India
        Urbanwood has a wide range of home furniture to accentuate the beauty and elegance of your house. Buy <strong> furniture online in Bangalore, Hyderabad, Jaipur, Pune, Mumbai, Delhi </strong> and various other major cities of India including </p>
        <p> Find the most stylish & luxury furniture sofas, beds, wardrobes, study tables and coffee tables made from high-quality Sheesham wood at Urbanwood. Stay comfortable and classy with our modern and amazing furniture for your home at competitive prices. Complete your home interiors with the best wooden furniture of your choice. Urbanwood offers a wide range of <strong> customized wooden furniture </strong> to match your interiors and styles.</p>
        <p><strong> Urbanwood </strong> offers all kinds of luxury and affordable wooden furniture for your home and office made with top-notch quality materials with a vast collection to choose from. </p>
      </div>
    </div>
  </div>


</section>
</div>

<script type="text/javascript">

 var custom_filter = '{{custom_filter}}';
 var custom_filter_cat_id = '{{category_id}}';
 if(custom_filter){
  categoryFilter(custom_filter,custom_filter_cat_id);
}



function categoryFilter(custom_filter_ids,custom_f_cat_id){

  $.ajax({
    url: '?route=product/category/categoryFilter',
    type: 'post',
    data: {'catids':custom_filter_ids,'main_category_id':custom_f_cat_id},

    success: function(httml) {

      $('#custom_filter_div').html(httml);

    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

</script>
<script>
  function addtocart(quantity, product_id) {

	$.ajax({
		url: '?route=checkout/cart/add',
		type: 'post',
		data: {"quantity":quantity,"product_id":product_id},
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
        $('body').prepend('<div class="success-popup ">	<span class="warrning-svg">	<svg id="smile"		width="35" height="35" viewBox="0 0 41 41" fill="none">					  <path d="M16.2432 29.9911L16.5968 30.3439L16.95 29.9907L30.5886 16.352L30.9422 15.9985L30.5886 15.6449L27.7128 12.7691L27.3593 12.4156L27.0057 12.7691L16.592 23.1828L12.2699 18.8682L11.9158 18.5148L11.5626 18.869L8.69086 21.7489L8.33792 22.1028L8.69174 22.4558L16.2432 29.9911ZM0.823975 20.662C0.823975 9.72375 9.72375 0.823975 20.662 0.823975C31.6002 0.823975 40.5 9.72375 40.5 20.662C40.5 31.6002 31.6002 40.5 20.662 40.5C9.72375 40.5 0.823975 31.6002 0.823975 20.662Z" stroke="#33C300"/>  </svg>					</span>	<span class="warrning-text">   <p>' + json['success'] + '</p>	</span>				  </div>');
				$('#cartli .badge_pp').text(json['total']);
				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
}

gtag("event", "search", {
  search_term: "{{ heading_title }}"
});

fbq('track', 'Search', { search_string: '{{ heading_title }}' });
</script>

{{ footer }}
