<section class="customer_stories">
<div class="container container-custom ">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <h2 class="pg-heading text-lg-start text-center mt-lg-5">Customer Stories</h2>
            <p class="heading-para text-lg-start text-center">Crafted to Perfection, Cherished by All! Experience the Rave-Worthy Journey from Website to Doorstep. Join Us for Exquisite, Custom Furniture Experiences.
            </p>
            {# <a href="?route=product/allreview" type="button" class="view_all_btn mt-5">
                View all</a> #}
        </div>
        <div class="col-lg-9 col-md-12">
        <div class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein slider-item-first-visible">
    <ul class="slider-container py-4">
    {% for review in reviews %}
    <li class="slide-visible">
        <div class="card shadow h-100">
                <div class="ratio ratio-16x9">
                    <img src="{{ review.image }}" class="card-img-top" loading="lazy" alt="{{ review.author }}">
                </div>
                <div class="card-body p-3 p-xl-5">
                    <h3 class="card-title h5">{{ review.author }}</h3>
                    <p class="card-text">{{review.text}}</p>
                    <div class="rating">
                               {{review.rating}}
                            </div>
                    <div><a href="{{review.href}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    </li>
    {% endfor %}
        
    </ul>

    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>

</div>
            {# <section class="owl-carousel1 owl-theme bbb_slider ">

                {% for review in reviews %}
                <div class="owl-item client-box">

                    <div class="client-img">
                        <img src="{{ review.image }}" class="img-responsive img-fluid " loading="lazy" alt="{{ review.author }}">
                    </div>
                    <div class="client-content">
                        <div class="client-name">
                            <p>
                               {{ review.author }}
                               
                            </p>
                        </div>
                        <div class="client-comment">
                            <p>{{review.text}}</p>
                            <div class="rating">
                               {{review.rating}}
                            </div>
                            <a href="{{review.href}}" type="button" class="see-product-btn">See product</a>
                        </div>
                    </div>

                </div>

                {% endfor %}

            </section> #}

                            {# <div class="owl-carousel owl-theme bbb_slider bbb-slider1">
                            {% for review in reviews %}
                                <div class="owl-item">
                                    <div class="bbb_item is_new">
                                        <div class="bbb_image d-flex flex-column align-items-center justify-content-center">
                                            <a href="l-shaped-sofas"><img src="image/home_img/livingroom/lshapesofa.avif" alt="urbanwood l-shaped fabric sofa" width="250px" height="215px" loading="lazy"></a>
                                        </div>
                                        <div class="bbb_content">
                                            <div class="bbb_name">
                                                <a href="l-shaped-sofas">L-Shaped Sofas</a>
                                            </div>
                                            <div class="bbb_info clearfix">
                                                <div class="bbb_category">
                                                    
                                                        <small>12+ Options | Starting From</small>
                                                    
                                                </div>
                                                <div class="bbb_price">₹54,545</div>
                                            </div>
                                        </div>
                                        <ul class="bbb_marks">
                                            <li class="bbb_mark bbb_discount">-25%</li>
                                            <li class="bbb_mark bbb_new">new</li>
                                        </ul>
                                        <div class="bbb_fav">
                                            <i class='bx bx-heart'></i>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            <div> #}



        </div>
    </div>

</div>
</section>