<section class="customer_stories">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <h2 class="pg-heading text-lg-start text-center mt-lg-5">Customer Stories</h2>
            <p class="heading-para text-lg-start text-center">Crafted to Perfection, Cherished by All! Experience the Rave-Worthy Journey from Website to Doorstep. Join Us for Exquisite, Custom Furniture Experiences.
            </p>
            {# <a href="?route=product/allreview" type="button" class="view_all_btn mt-5">
                View all</a> #}
        </div>
        <div class="col-lg-9 col-md-12">
            <section class="customer-logos slider">

                {% for review in reviews %}
                <div class="slide client-box">

                    <div class="client-img">
                        <img src="{{ review.image }}" class="img-responsive img-fluid " loading="lazy" alt="{{ review.author }}">
                    </div>
                    <div class="client-content">
                        <div class="client-name">
                            <p>
                               {{ review.author }}
                               
                            </p>
                        </div>
                        <div class="client-comment">
                            <p>{{review.text}}</p>
                            <div class="rating">
                               {{review.rating}}
                            </div>
                            <a href="{{review.href}}" type="button" class="see-product-btn">See product</a>
                        </div>
                    </div>

                </div>

                {%endfor%}

            </section>
        </div>
    </div>

</div>
</section>