<section class="py-2 most_popular_sec">
  <div class="container container-custom">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center">
        <div> 
          <h2 class="pg-heading text-lg-start text-start">Top Selling Product</h2>
          <p class="heading-para text-lg-start text-start">Awe-Inspiring Bed Designs</p>
      </div>
      <a href="todays-sale" type="button" class="view_all_btn float-right-btn"> View all</a>
  </div>
  <div class="bbb_slider_container">
    <div class="owl-carousel owl-theme bbb_slider bbb_slider4">


         {%for keysss,product in products%}
        <div class="owl-item owl-item4">
            <div class="bbb_item bbb_item4 is_new">

              <div class="pp2-item-box">
                <div class="item-img">
                  <img src="{{product.thumb}}" class="img-responsive img-fluid" loading="lazy" alt="{{ product.name }}">
              </div>
              <a href="{{product.href}}" class="pp-name-title">{{product.name}}</a>
              <div class="item-content">
                  
                <div class="_pp_content clearfix">
                    <div class="pp-price">

                      {{product.special}}
                      <strike style="color:grey;">₹{{ product.priceR}}</strike>
                  </div>
              </div>
          </div>
          <span class="off_badge">
              {{product.discount}}% <br>OFF
          </span>
      </div>

  </div>
</div>
{%endfor%}



</div>
</div>
</div>
</div>
</section>